services:
  psf-vue-app:
    container_name: psf-vue-app-container
    image: psf-vue-app-dockerimage
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    command: npm run dev 
