html,
body {
  height: 100%;
}

body {
  font-family: var(--font-body);
  font-size: var(--fs-body);
  color: var(--c-text);
  background: var(--c-bg);
}

h1,
h2,
h3 {
  font-family: var(--font-title);
  margin: 0;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-title);
}
h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-regular);
}
h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-regular);
}

p {
  margin: 0;
}

.caption {
  font-size: var(--fs-caption);
}

button,
input,
select,
textarea {
  font-family: inherit;
}

.section {
  padding-inline: 1rem;
  margin-block: 3rem;
}
